---
import { Icon } from "astro-icon/components";
const { iconName, size, buttonText, iconClass, withIcon = false } = Astro.props;

type Props = {
	iconName: string;
	size?: number;
	buttonText: string;
	withIcon?: boolean;
	iconClass?: string;
};
---

<button
	class="bg-green-300 hover:bg-green-200 text-black font-bold px-4 py-2 rounded-md cursor-pointer flex ml-auto items-center gap-2"
>
	<span>{buttonText}</span>
	{
		withIcon && (
			<Icon name={iconName} size={size ?? 24} class:list={[[""], iconClass]} />
		)
	}
</button>
